$color1: #293640;

.leeroy-build-section {
  padding: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
}

.leeroy-changeset-comment {
  display: block;
  margin-top: 14px;
  margin-bottom: 14px;
}

.leeroy-build-filter {
  @extend %flex;
  padding: 10px;
}

.leeroy-build-filter-search-input {
  @extend %flex-1;
  font-size: 1rem;
  padding: 7px;
  background-color: transparent;
  color: white;
  border: 0 none;
  margin: 9px;
}

.leeroy-build-filter-search-input:focus {
  outline: 0 none;
}

.leeroy-console-output,
.leeroy-changeset-comment {
  font-family: "Source Code Pro", "Menlo", Courier, "Courier New", monospace;
  font-size: 0.9rem;
  line-height: 1.45rem;
}

.leeroy-console-output {
  margin-top: 14px;
}

.leeroy-build-output {
  color: #F1F1F1;
  line-height: 1.6rem;
  background-color: #222222;
  padding: 8px;
  font-size: 0.95rem;
  white-space: pre;
}

.leeroy-build-mug {
  border-radius: 52px;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  border-color: transparent;
}

.leeroy-master-column {
  overflow: auto;
  width: 450px;
  background-color: $color1;
}

.leeroy-build-list {
  margin: 0;
}

.leeroy-build-link {
  @extend %flex; 
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #212B33;  
}

.leeroy-build-link:hover {
  background-color: darken($color1,3) 
}

.leeroy-build-list-item {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 0.92rem;
}

.leeroy-build-list-item-title {
  font-size: 0.9rem;
}

.leeroy-build-list-item-name {
  font-size: 0.8rem;
}

.leeroy-label-success {
  background-color: green;
  color: white; 
}

.leeroy-label-failure {
  background-color: red;
  color: white; 
}

.leeroy-build-list {
  @extend %flex-1;
  list-style: none;
  padding: 0;
}

.leeroy-build-link {
  padding: 16px;
  font-size: 0.92rem;
}

.leeroy-build-link.active {
  background-color: darken($color1,7);
}

.leeroy-build-success {
  background-color: green;
}

.leeroy-build-time {
  color: #999999;
  font-size: 0.8rem;
  margin-top: 4px;
}

.leeroy-build-status-column {
  min-width: 24px;
}

.leeroy-build-status {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-top: 1px;
}

.leeroy-build-preview-column {
  @extend %flex-1;
}

.leeroy-detail-toolbar {
  @extend %flex;
  @extend %align-items-center;
}

.leeroy-build-actions {
  @extend %flex-1;
  text-align: right;
}

.leeroy-search-icon,
.leeroy-retry-icon {
  margin: 4px;
  width: 24px;
  height: 24px;
}

