$color1:#293640;

.leeroy-build-section {
  padding: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #222;
  color: white;
}

.leeroy-console-output {
  font-family: "Source Code Pro", "Menlo", Courier, "Courier New", monospace;
}

.leeroy-build-mug {
  border-radius: 52px;
  width: 52px;
  height: 52px;
  border-color: transparent;
}

.leeroy-build-list {
  overflow: auto;
  max-width: 450px;
  background-color: $color1;
  margin: 0;
}

.leeroy-build-link {
  @extend %flex; 
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #212B33;  
}

.leeroy-build-link:hover {
  background-color: darken($color1,3) 
}

.leeroy-build-list-item {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 0.92rem;
}

.leeroy-build-list-item-title {
  font-size: 0.9rem;
}

.leeroy-build-list-item-name {
  font-size: 0.8rem;
}

.leeroy-label-success {
  background-color: green;
  color: white; 
}

.leeroy-label-failure {
  background-color: red;
  color: white; 
}

.leeroy-build-list {
  @extend %flex-1;
  list-style: none;
  padding: 0;
}

.leeroy-build-link {
  padding: 16px;
  font-size: 0.92rem;
}

.leeroy-build-link.active {
  background-color: darken($color1,7);
}

.leeroy-build-success {
  background-color: green;
}

.leeroy-build-time {
  color: #999999;
  font-size: 0.8rem;
  margin-top: 4px;
}

.leeroy-build-status-column {
  min-width: 24px;
}

.leeroy-build-status {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-top: 1px;
}

.leeroy-changeset-comment {
  display: block;
  padding: 8px;
  font-size: 0.9rem;
  border-radius: 3px;
}

.leeroy-build-output {
  font-family: monospace;
  color: #F1F1F1;
  line-height: 1.6rem;
  background-color: #222222;
  padding: 8px;
  font-size: 0.95rem;
  white-space: pre;
}

.leeroy-build-preview-column {
  @extend %flex-1;
}

