.leeroy-jobs-section {
}

.leeroy-jobs-list {
  list-style: none;
  padding: 0;
  overflow: auto;
}

.leeroy-job-link {
  text-decoration: none;
  color: black;
  padding: 12px 12px;
  display: block;
  font-size: 0.92rem;
  border-bottom: 1px solid #D3D3D3;
}

.leeroy-job-link:hover {
  background-color: #fafafa;
}

.leeroy-job-link.active {
  color: #4254B6;
}

.leeroy-job-section {
  @extend %flex;
}

.leeroy-last-updated {
  color: white;
  font-size: 1.3rem;
  padding: 18px;
}

